extends index

include mixins/loginForm

block activity
  li
    a(data-toggle="modal" class="login-head" data-target="#exampleModal" data-whatever="@mdo") #{detail}
  li
   img(src=`${imgFile}` class="rounded-circle avatar-styl" alt="profile-pic")
block form
  +loginForm()

block welcome-greeting
  .container
    .row
      .col-md-12.wow.fadeIn.delay-05s
        .banner-text
          h2
            | Hi, Welcome to 
            span sikaResearch
          p
           | where you can Collaborate 
           br
           | and Learn
          .quick-access
            button(class="get-started")
              | Get Started
            button(class="contact-us")
              | Contact Us
block body
  section#about.section-padding.wow.fadeIn.delay-05s
    .container
      h5.explore-head Explore
      .row.intro
        .col-md-4
          a(href="/final-year-projects")
            img(src="/images/final-year.svg" alt="")
          p Final year projects
          p 
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
        .col-md-4
          a(href="/research")
            img(src="/images/research.svg" alt="")
          p Research Projects
          p 
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
        .col-md-4
          a(href="/collaborate")
            img(src="/images/collaborate.svg" alt="")
          p Collaborations
          p 
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
            | lorem ipsum blah blah blah
          