<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=locals.title
    body
     .content
       block content

      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.bundle.min.js')
      script(defer src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
      script(src='/js/custom.js')