form(action="/sigin" method="POST" role="form")
  .formgroup
    label(for="name") Userna
    input(id="name" name="name" type="text")
  .formgroup
    label(for="name") email
    input(id="name" name="name" type="text")
  .formgroup
    label(for="name") password
    input(id="name" name="name" type="text")
  .formgroup
    input(type="submit" value="sign in")
   
  
   
     
