extends index
include mixins/loginForm

block activity
  li
    a(data-toggle="modal" class="login-head" data-target="#exampleModal" data-whatever="@mdo") #{detail}

block content
  +loginForm()
  link(href="/css/test.css" rel="stylesheet" type="text/css")

block welcome-greeting
  .container
    .row
      .col-md-12.wow.fadeIn.delay-05s
        .banner-text
          h2
            | Hi, You can upload
          p
            | your papers here at 
            span.deco sikaResearch
          p
           | And publish to be viewed  
          .quick-access
            button(class="get-started")
              | Upload