mixin loginForm()
  form(action="/login" method="POST" role="form")
    #exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title We are pleased to have you
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
            .alternatives
              .fb
                i.fa.fa-facebook &nbsp; Facebook
              .twitter
                i.fa.fa-twitter &nbsp; Twitter
              .google
                i.fa.fa-google &nbsp; Google
          .modal-body
            form.body-form
              .form-group
                label.col-form-label(for="name") email:
                input#email.form-control(type="text" placeholder="example@stu.cu.edu.ng" name="email")
              .form-group
                label.col-form-label(for="password") Password:
                input#password.form-control(type="password" placeholder="password" name="password")
          .modal-footer
            button.btn.btn-primary(type="submit" class="login-btn") Login
            button#test.btn.btn-primary(class="create-acct" type="button") Create new account
          
  script(src="/js/login-createForm.js" type="text/javascript")          
