mixin papers(journals)
  .main-results
    if journals.length
      each journal in journals
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4 #{journal.title}
    else
      .container
        h1 'No papers on this page'      
     

        


    
